@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Delicious+Handrawn&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Workbench&display=swap');

.head{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 8em;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #fff
}
.sub{
    font-family: "Delicious Handrawn", cursive;
    font-weight: bold;
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 8px black;
}
.arab{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 2em;
    font-style: normal;
    text-shadow: 2px 2px 8px black;
}

#clock h1{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 4em;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;

      /* background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
      backdrop-filter: blur(5px);
}

.ad{
    width: 20em;
    border: 2px solid white;
    border-radius: 5px;
}
/* 
.made{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    animation: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */


  a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    text-transform: lowercase;
  }
  
  .made {
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    font-family: "Shadows Into Light", cursive;
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f0a40c, #fff, #0b5bd3);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  
  /*  Checkout my other pens on  https://codepen.io/grohit/  */
  